
@font-face {
    font-family: digital;
    src: url(fonts/DIGITALDREAMFAT.ttf);
}

@font-face {
    font-family: P_Sans;
    src: url(fonts/PT_Sans-Web-Italic.ttf);
}


body {
    font-size: small;
}

.table-bordered tbody tr td {
    padding: 1px;
}
/** Added by Javid for Reset Password view*/
.top-buffer {
    margin-top: 20px;
}
/** Commented by Javid for Reset Password view*/
/*
h1 {
    font-weight: bold;
    font-size: 24px;
    font-family: "P_Sans";
}

h4 {
    font-family: P_Sans;
}

.dashboard-Application {
    margin: 10px;
}
    */

table thead {
    text-align: center;
    font-family: Calibri;
    font-size: medium;
    font-weight: bold;
}

table .table-bordered {
    border: 1px dotted olive;
}


.dashboard-gaugeBox {
    width: 390px;
    margin: 5px;
    display: table;
}

.dashboard-lineBox {
}



.gaugeFooter {
    font-family: Calibri;
    font-size: small;
    position: absolute;
    bottom: 1px;
    text-align: center;
    left: 12px;
}


.dashboard-gaugeContainer {
    top: 0;
    margin: 0;
    margin-right: 5px;
    padding: 5px;
    height: 200px;
    display: table-cell;
    position: relative;
}

.container {
    width: 100%;
    margin: 0;
}


/*.dashboard-lineContainer {
    float: left;
    top: 0;
    display: block;
    margin: 5px;
    padding: 5px;
    width: 360px;
    height: 200px;



}*/

.label-error {
    background-color: firebrick;
    color: white;
}

.label-danger {
    color: white;
}

.center-align {
    text-align: center;
}

.title-comic {
    font-family: Comic Sans Ms;
}

.element-float {
    float: left;
    margin: 10px;
}

.element-bottom-1 {
    margin-bottom: 0.2cm;
}

.element-width-1 {
    width: 100px;
}

.element-width-2 {
    width: 200px;
}

.element-btn-text-style {
    text-decoration: initial;
    font-family: Calibri;
    font-size: small;
}

.element-font-h1 {
    font-size: 24px;
}

.element-font-digital {
    font-family: digital;
    font-size: x-small;
}

.element-width-20percent {
    width: 20%;
}


.element-width-10percent {
    width: 10%;
}

.element-width-5percent {
    width: 5%;
}


.element-displaytype-block {
    display: block;
}


.element-hide {
    display: none;
}

.element-noPadding {
    padding: 0;
}

.element-noMargin {
    margin: 0;
}

.element-topLevel-margins {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.7em;
    margin-bottom: 0;
}

.element-dialogbox {
    background: url('/Content/Images/tweed.png') repeat;
    font-family: Calibri;
    font-size: medium;
    padding: 5px;
}

.element-disabled {
    pointer-events: none;
    cursor: default;
    visibility: hidden;
}

.td-title {
    font-size: large;
    color: wheat;
}

.td-text {
    font-family: sans-serif;
    font-size: small;
    color: beige;
}

.innerEvent {
    color: gold;
    font-family: P_Sans;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    border-bottom: 1px solid olivedrab;
    padding: 0;
}

    .innerEvent h3 {
        margin: 0;
    }



#tblFilterCriteria {
    width: 100%;
    padding: 5px;
    line-height: 30px;
    margin: 0;
    border: 1px solid olive;
}

    #tblFilterCriteria input[type='radio'] {
        margin-left: 10px;
    }

    #tblFilterCriteria input[type='text'] {
        line-height: normal;
        width: 80%;
    }

    #tblFilterCriteria a {
        line-height: normal;
        padding: 10px;
    }

.validation-summary-errors {
    color: red;
}

#tblCreateApp {
    margin-top: 36px;
    margin-left: 20px;
}



.eventTypeClass {
    margin-left: 5px;
    margin-right: 5px;
}

.element-rounded-corner {
    border-radius: 5px;
}

.glyph {
    width: 32px;
    height: 32px;
}

#tblAlerts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 95%;
}


.boxinfo {
    min-height: 200px;
    text-align: center;
    padding: 10px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    border-top: 3px double olivedrab;
    border-bottom: 1px dotted olivedrab;
    line-height: 200%;
    min-height: 250px;
}

    .boxinfo p {
        text-align: justify;
        font-family: P_sans;
        font-size: large;
    }

.col-md-4 {
    width: 32.33333333%;
}
