<html>
    <head>
        <title> LogMan Confirmation</title>
    </head>
    <body>
        <div style="width: 80%;">


            <h2><img src="cid:myImageID" />&nbsp; &nbsp; <big><span style="color:#A52A2A;"><span style="font-family:verdana,geneva,sans-serif;"><span style="font-size:36px;">LogMan</span></span></span></big>, looks after your logs!</h2>

            <h2>&nbsp;</h2>

            <p><span style="font-size:14px;">Dear&nbsp; <strong>@Name</strong>,</span></p>

            <p><span style="font-family:arial,helvetica,sans-serif;"><span style="font-size:14px;">You or someone on behalf of you has signed you up at LogMan, a new style modern application logging system! &nbsp;If you do not want to use LogMan (which is a pity), simply ignore this email. &nbsp;If you want to confirm your email address and continue using LogMan, simply click on the link below:</span></span></p>
            <br/>
            <p>
                Your user name is: @Name
                <br/>
                Your password is: @Password
            </p>

            <p style="text-align: center;"><span style="font-size:18px;"><a href="@Link" target="_blank">YAY!&nbsp;CONFIRM MY EMAIL!</a></span></p>

            <p><span style="font-size:14px;">Thank you,</span></p>

            <p><span style="font-size:14px;">LogMan!</span></p>

            <p>&nbsp;</p>
        </div>
    </body>
</html>