@model Logman.Web.Models.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

@Html.ValidationSummary()
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <table>
        <tr>
            <td style="width: 5%;">
                Your current (old) password:
            </td>
            <td>
                @Html.TextBoxFor(p => p.OldPassword)
            </td>
        </tr>
        <tr>
            <td style="width: 5%;">
                Your new password:
            </td>
            <td>
                @Html.TextBoxFor(p => p.NewPassword)
            </td>
        </tr>
    
        <tr>
            <td style="width: 5%;">
                Repeat your new password:
            </td>
            <td>
                @Html.TextBoxFor(p => p.OldPassword)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value=" Change Password" class="btn btn-primary"/>
            </td>
        </tr>
    </table>
}