
@{
    ViewBag.Title = "PendingApproval";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}
<h1> Your account has been created but it's pending approval. </h1>
<h2> Check your email and follow the instructions to activate your account.</h2>

