@model Logman.Web.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}
<div class="container">

    @Html.ValidationSummary()
    @Html.ValidationMessage("CustomError")
    
    <h5><strong>Reset Password</strong></h5>
    <h6>Please enter your email address, the one you used to sign up with Longman! Then we will generate a new password and email it to you.</h6>


    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {

        <label for="inputEmail" class="control-label element-noPadding col-md-1">E-mail</label>
        <div class="col-xs-3">
            @*<input type="email" class="form-control" id="inputEmail" placeholder="Email">*@

            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })

        </div>
        <div style="clear:both"></div>
        <div class="row top-buffer">
            <div class="col-xs-1">
                @Html.ActionLink("Cancel","Login","Account", null,new {@class="btn btn-default"})
            </div>
            <div class="col-xs-3">
                <input type="submit" value="Reset My Password!" class="btn btn-primary" />
               
            </div>
        </div>
        <div class="form-group">


        </div>
    }
</div>
